<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Bulain@GitHub - {{ page.title }}</title>
    <link rel="stylesheet" href="/shared/blueprint/css/screen.css" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="/shared/blueprint/css/print.css" type="text/css" media="print"/>
    <!--[if lt IE 8]>
        <link rel="stylesheet" href="/shared/blueprint/css/ie.css" type="text/css" media="screen, projection">/
    <![endif]-->
    <link rel="stylesheet" href="/shared/static/css/main.css" type="text/css" media="screen, projection"/>
  </head>
  <body>
    <div class="container">
      <div class="span-24" id="header">
        <h1>Welcome Bulain's GitHub Page</h1>
      </div>
      <div class="span-24" id="main">
        {{ content }}
      </div>
      <div class="span-24" id="footer">
        <p>@Copyright by Bulain</p>
      </div>
    </div>
  </body>
</html>
